html, body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: rgb(255,255,255);
  color: rgb(74,74,74);
  letter-spacing: .1px;
  margin: 0;
  padding: 0;
}

/* Inputs */

input[placeholder] {
  color: rgba(125,125,125,.5);
}
::-webkit-input-placeholder {
  color: rgba(125,125,125,.5);
}
::-moz-placeholder {
  color: rgba(125,125,125,.5);
}
:-moz-placeholder {
  color: rgba(125,125,125,.5);
}
:-ms-input-placeholder {
  color: rgba(125,125,125,.5);
}

:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}

/* Links */

a, a:visited {
  color: rgb(70,180,90);
  border-bottom: 1px solid rgb(70,180,90);
}
a:active, a:hover, a:focus {
  color: rgba(70,180,90,.7);
  border-bottom: 0;
}

/* Headers */

h1, h2, h3, h4 {
  font-weight: 300;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}

/* Menu */

.menu-app .nav.is-fixed {
  position: fixed;
  top: 0; right: 0; left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: rgb(255,255,255);
}
.menu-app .nav .nav-center a {
  color: rgb(50,115,220);
  font-size: 1.6rem;
}
.menu-app .nav .nav-center a:hover {
  color: rgba(50,115,220,.5);
}
.menu-app .nav a {
  color: rgb(70,180,90);
  font-size: 1.3rem;
  border: 0;
}
.menu-app .image img {
  width: inherit;
}

/* Helpers */

.title.is-green {
  color: rgb(70,180,90);
}
.subtitle.is-blue {
  color: rgba(50,115,220,.8);
}
.subtitle.is-blue,
.subtitle.is-blue i.fa {
  font-size: 1.2rem;
}
.hero.is-content {
  background-color: rgba(255,255,255,.92);
  border-radius: 3px;
  padding-left: 2.6rem;
  padding-right: 2.6rem;
}
.hero.is-content p {
  font-size: 1.05rem;
}
.is-more-padding-vertical {
  padding-top: 10rem;
  padding-bottom: 7rem;
}
.line-green {
  background-color: rgba(70,180,90,.6);
  height: 5px;
  width: 70%;
}
ul.list-category li {
  list-style: none;
}
ul.list-category li a {
  font-size: 1.3rem;
}
.is-gray {
  background-color: rgb(245,245,245);
}
.is-gray .hero {
  background-color: transparent;
}
.bordered h4 {
  color: rgb(125,125,125);
  margin-bottom: .5rem;
}
.bordered {
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 1.4rem;
  color: rgb(125,125,125);
  border: 1px dashed rgb(70,180,90);
  border-radius: 3px;
}
.middle-aligned {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-medium {
  font-size: 1.1rem;
}
.text-large {
  font-size: 1.4rem;
}

/* Forms */

.form input[type=text],
.form input[type=tel] {
  width: 100%;
  font-size: 1.2rem;
  padding: .8rem 1.4rem;
  margin-bottom: .5rem;
  color: rgb(125,125,125);
  border: 1px solid rgb(225,225,225);
  border-radius: 3px;
}

/* Pages */

.index-background .title {
  font-size: 3.8rem;
  font-weight: bold;
}
.index-background {
  background-image: url('~assets/img/index-page.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.service-obogrev-background {
  background-image: url('~assets/img/page-service-obogrev.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.service-santeh-background {
  background-image: url('~assets/img/page-service-santeh.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.footer {
  background-color: rgb(235,235,235);
}

/* Modals */

.service-modal ul.list-category a {
  font-size: 1.2rem;
}
.service-modal ul.list-category .tag {
  display: none;
}
.service-modal ul.list-category li {
  margin-bottom: .3rem;
}
.service-modal h2.title {
  color: rgb(255,255,255);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Nuxt.js */

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

/* Bulma */

.is-128x128 {
  margin-left: auto;
  margin-right: auto;
}

/* SweetAlert2 */

.swal2-modal.swal2-show,
.swal2-modal.swal2-show h2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

hr.swal2-spacer {
  background-color: transparent;
}

@media (max-device-width: 320px) {
  .middle-aligned {
    display: block;
  }
  .bordered {
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

@media (max-device-width: 768px) {
  .middle-aligned {
    display: block;
  }
  .bordered {
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
  }
}